/* .showing{
    display: initial;
} */
.not-showing{
    display: none;
}
.select{
    height: 50%;
    width: 80%;
    /* background: #efb247; */

}
.mapped-btns{
    display: flex;
    
}
.mapped-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}
label{
    color: #4f5759;
}
.hov{
    background: #efb247;
  
  }