
.not-showing{
    display: none;
}
.select{
    height: 50%;
    width: 80%;
    /* background: #efb247; */

}
.mapped-btns{
    display: flex;
    
}
.mapped-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
}
label{
    color: #4f5759;
}
.form-style{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        background: yellow;
        border-radius: 3px;
        height: 100%;
        padding: 1rem;
    }
    .input-fields-div{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

    }
    
    /* @media(min-width: 593px){
        .form-style{
            display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        background: yellow;
        border-radius: 3px;
        height: 100%;
        padding: 1rem;
        }
      } */
    /* .form-style{
         display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            background: orange;
            border-radius: 3px;
            height: 100%;
    } */
