.chart-wrapper {
    height: 70%;
    width: 70%;
    background: #efb247;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px;
  }
  .chart-content {
    width: 96%;
    height: 96%;
    background: #faf9f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px;
    border-radius: 2px;


  }
  .close {
    position: relative;
    bottom: 10px;
    left: 10px;
    font-size: 1rem;
    font-weight: bold;
    /* cursor: pointer; */
    z-index: 3;
  }