/* @import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --app-bg: #787c85;
  --secondary-bg: #2d5096;
  --main-bg: #ffffff;
  --fontFam: 'Roboto', sans-serif;
  --fontSize: 14px;
}
.sidebar{
    background-color: #054aba;
} */