.main-wrapper{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.side-bar{
  width: 18%;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  display: none;

}
.routes{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  
}
@media(min-width: 593px){
  .side-bar {
  width: 18%;
  height: 100%;
  margin: 0;
  margin-left: 0;
  padding: 0;
  vertical-align: baseline;
  display: flex;
  padding: 0;
  background: #d0daef;
  
  }
  .routes{
    width: 82%;
    height: 100%;
    padding: 0;
    margin: 0;
  vertical-align: baseline;

    
  }

  
}

