*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  /* font-family: 'Hanalei Fill', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Orbitron', sans-serif; */
}

h1, h2, h3, h4, h5, h6 {
  color: ddd;
  font-weight: 500;
}

p {
  color: ddd;
}
Button{
  margin: 1rem;
background: #26436d;
  color: white;
  border: 0;
  text-transform: uppercase;
  height: 2.5em;
 border-radius: 3px;
text-align: center;
  transition: 0.3s;
 

} 
Button:hover{
  
 background:#efb247;
  
}
